{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="menu-bar">
    <ul>
      <li><a href="{{ path('admin') }}">Admin</a></li>
    </ul>
  </div>
  

{% endblock %}
